* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: #ffffff80;
    backdrop-filter: blur(2px);
    width: fit-content;
    padding: 25px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 4px 20px 1px #222;
}

.form h2 {
    text-transform: capitalize;
    margin-bottom: 20px;
}

.form input {
    padding-left: 10px;
    width: 300px;
    height: 35px;
    border: 1px solid #b5b5b5;
    border-radius: 7px;
    font-size: 17px;
}

.form button {
    width: 600px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 7px;
    background-image: linear-gradient(to right, #0cb6b6, #0475ff);
    color: #fff;
    font-size: 17px;
}

.form p {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.form p > a {
    text-decoration: none;
    text-transform: capitalize;
    color: #720890;
    font-weight: 700;
}
